@{
    ViewBag.Titulo = "Edição de Conta";
}

@model EditarContaViewModel;


<div class="row justify-content-center">
    <form class="col-6" asp-action="Editar" method="post">
        <<div class="mb-3">
            <label asp-for="Titular" class="form-label">Titular:</label>
            <input class="form-control" asp-for="Titular">
            <span asp-validation-for="Titular" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="mesa" class="form-label">Mesa:</label>
            <input class="form-control" asp-for="mesa">
            <span asp-validation-for="mesa" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="garcom" class="form-label">Garcom:</label>
            <input class="form-control" asp-for="garcom">
            <span asp-validation-for="garcom" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Pedidos" class="form-label">Pedidos:</label>
            <input class="form-control" asp-for="Pedidos">
            <span asp-validation-for="Pedidos" class="text-danger"></span>
        </div>
        <div class="d-flex gap-2 justify-content-end">
            <a asp-action="Index" class="btn btn-outline-primary px-5">Voltar</a>
            <button class="btn btn-primary px-5">Gravar</button>
        </div>
    </form>
</div>